button {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.3);
    background-color: darkolivegreen;
    color: white;
    font-weight: 600;
}

button:hover {
    transform: scale(1.01);
}

button:active {
    opacity: 0.8;
}