<form class="input-file-container">
  <h3>Selecione o que desja detectar</h3>
  <div class="radio-container">
    <div class="radio-box">
      <input type="radio" id="faces" name="choice" (change)="onFaceSelected()"/>
      <label for="faces">Rosto</label>
    </div>
    <div class="radio-box">
      <input type="radio" id="mask" name="choice" (change)="onMaskSelected()" />
      <label for="mask">Máscara</label>
    </div>
  </div>

  <label class="input-file-label">
    Enviar Arquivo
    <input type="file" class="input-file" (change)="onFileSelected($event)" />
  </label>
</form>